body {
    font-family: "roboto", sans-serif;
    padding;
    margin: 0;
}

.header, .fronttext{
    padding-left: 200px;
}

.upperblue{
    display: flex;
    background-color: #1f2937;
    height: 500px;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 200px;
    margin: 0;
    font-size: 24px;
}

.header-logo {
    color: white;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 20px;
}

li {
    font-weight: lighter;
    font-style: italic;
}

.fronttext {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.mainpage {
    display: flex;
    padding-right: 200px;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

h1, h2 {
    color: white;
    width: 250px;
    margin: 4px 0;
}

.main-text {
    font-size: 48px;
    font-weight: 700;
    width: 350px;
    flex: 1;
}

.sub-text {
    font-size: 18px;
    font-weight: 200;
    width: 450px;
    flex-shrink: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white;
}

button {
    all: unset;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height: 25px;
    margin: 10px 0px;
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    
}

.detroitguy {
    padding: 0;
    width: 400px;
    flex-shrink: 1;
    height: auto;
}

.second-white {
    display: flex;
    background-color: white;
    height: 300px;
    flex-direction: column;
    align-items: center;
}

.second-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
    width: fit-content;
    flex: 1;
    margin: 50px;
}

.imagecontainer {
    display: flex;
    flex: wrap;
    justify-content: center;
    gap: 1px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: auto;
}

.quad-texts {
    margin: 10px;
    text-align: center;
}

.smallimg {
    border: solid #3882f6;
    border-width: 5px;
    border-radius: 4px;
}

