body {
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.upperblue{
    display: flex;
    background-color: #1f2937;
    height: 400px;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 0px;
    margin: 0;
}

.header-logo {
    color: white;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 20px;
}

.fronttext {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

h1, h2 {
    color: white;
    width: 250px;
    padding: 0 50px;
    margin: 4px 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 10px;
    font-weight: 200;
}




ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white;
}

